@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.container{
    text-align: center;
    
}

.blog{
    margin-top: 100px;
    font-size: 4rem;
    font-family: 'Dosis', sans-serif;

}

.container div{
    cursor: pointer;
    margin-bottom: 5rem;
}
.container div h3{
    font-size: 2rem;

}
.container div p{
    font-size: 1rem;
}