.nevbar{
    position:fixed;
    top: 0px;
    width: 100vw;
    height:60px;
    background-color:transparent;
}
.nevbarul{
    display: flex;
    justify-content: center;
  }
.nevbarul li{
    list-style: none;
    margin-top: 1.3rem;
    padding: 0 20px;
    font-size: x-small;
}
.activenevbar{
    background-color: white;
    position:fixed;
    top: 0px;
    width: 100vw;
    height:60px;
}

.logo{
    display: block;
    height: 20px;
    width: 20px;
    color: white;
    border-radius: 50%;
    background-color:black;
    transform: translateX(8px);
}
